{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "react",
    "jsx-a11y",
    "import",
    "flowtype",
    "prettier"
  ],
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "prettier/prettier": "error"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      },
      "babel-module": {}
    }
  }
}