{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "parser": "babel-eslint",
  "plugins": [
      "react",
      "jsx-a11y",
      "import",
      "flowtype"
  ],
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": [
          "src"
        ]
      }
    }
  }
}
