{
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import", "prettier", "react-hooks"],
  "globals": {
    "window": true,
    "document": true,
    "navigator": true,
    "localStorage": true,
    "sessionStorage": true,
    "FileReader": true,
    "Headers": true,
    "fetch": true,
    "require": true
  },
  "rules": {
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-curly-newline": "off",
    "react/jsx-fragments": [2, "element"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-tag-spacing": [
      "error",
      {
        "beforeSelfClosing": "always"
      }
    ],
    "prettier/prettier": ["error", { "endOfLine": "auto" }]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
        "moduleDirectory": ["node_modules", "/"]
      },
      "babel-module": {}
    }
  }
}
