* {
  margin: 0;
}

.maintenance-page {
  background: #e85258;
  height: 100vh;
  width: 1000;
  padding: 150px 0;
  color: #ffffff;
  box-sizing: border-box;
}
@media (max-width: 30em) {
  .maintenance-page {
    min-height: 100vh;
    width: 100vw;
    padding: 40px 0;
  }
}

.main-title-container {
  margin-bottom: 50px;
}

.main-title {
  font-size: 32px;
  line-height: 48px;
  text-align: center;
}

.logo-container {
  text-align: center;
  margin-bottom: 45px;
}
.logo-container .copy-text {
  font-size: 18px;
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}

.message-container {
  text-align: center;
  font-size: 18px;
  line-height: 36px;
}
@media (max-width: 30em) {
  .message-container .message-text {
    margin-bottom: 30px;
  }
  .message-container .message-text br {
    display: none;
  }
}
.message-container .contact-text br {
  display: none;
}
@media (max-width: 30em) {
  .message-container .contact-text br {
    display: inline;
  }
}
.message-container .anchor {
  color: inherit;
  text-decoration: underline;
}
.message-container .anchor:hover {
  color: #006494;
  text-decoration: underline;
}
