/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(https://d2j6gkx8orv8i2.cloudfront.net/fonts/NotoSansJP-Regular-Sub.woff2) format('woff2'),
    url(https://d2j6gkx8orv8i2.cloudfront.net/fonts/NotoSansJP-Regular-Sub.woff) format('woff'),
    url(https://d2j6gkx8orv8i2.cloudfront.net/fonts/NotoSansJP-Regular-Sub.otf) format('opentype');
}

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url(https://d2j6gkx8orv8i2.cloudfront.net/fonts/NotoSansJP-Bold-Sub.woff2) format('woff2'),
    url(https://d2j6gkx8orv8i2.cloudfront.net/fonts/NotoSansJP-Bold-Sub.woff2) format('woff'),
    url(https://d2j6gkx8orv8i2.cloudfront.net/fonts/NotoSansJP-Bold-Sub.woff2) format('opentype');
}

body {
  font-family: 'Noto Sans', 'Noto Sans CJK JP', 'Noto Sans Japanese', sans-serif;
}
