.btn-icon-facebook,
.btn-icon-twitter {
  position: absolute;
  margin-left: -30px;
  margin-top: -4px;
}

@media (max-width: 30em) {
  .btn-icon-facebook,
  .btn-icon-twitter {
    margin-left: -24px;
    margin-top: -2.5px;
  }
}

.ui.brandPrimary.button {
  background-color: #e85258;
  color: #ffffff;
}

.ui.brandPrimary.button:hover {
  background-color: #f1979b;
}

.ui.white.button {
  background-color: #ffffff;
}

.color-white {
  color: #ffffff !important;
}
.color-darkGray1 {
  color: #333333 !important;
}
.fa-search:hover {
  color: #888787 !important;
}

/* 
  slide menu
 */
.bm-overlay {
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.6) !important;
}

.bm-menu-wrap {
  top: 0px;
}

.bm-menu-wrap .bm-menu {
  font-size: 1.15em;
  background: #f8f8f8;
}

.bm-menu-wrap .bm-menu a {
  color: #333333;
}

.bm-menu-wrap .bm-menu a:hover,
.bm-menu-wrap .bm-menu a:focus {
  color: #888787;
}

.bm-menu-wrap .bm-menu .bm-item-list {
  position: relative;
}

.bm-menu-wrap .bm-menu .bm-item-list a {
  font-size: 15px;
}

.bm-menu-wrap.close .bm-cross-button {
  display: none;
}

@media (max-width: 20em) {
  .bm-menu-wrap .bm-cross-button {
    display: none;
  }
}

.bm-cross-button {
  width: 25px !important;
  height: 35px !important;
  left: -35px !important;
  top: 10px !important;
}

.bm-cross-button .bm-cross {
  width: 2px !important;
  height: 25px !important;
  background: #ffffff;
}

.bm-burger-button {
  position: relative;
  width: 24px;
  height: 20px;
}

.bm-burger-bars {
  background: #333333;
  border-radius: 20px !important;
  height: 15% !important;
}

.ePahOV:not(:last-child) {
  padding-right: 16px;
}

@media (max-width: 30em) {
  .ePahOV:not(:last-child) {
    padding-left: 10px;
    padding-right: 0px;
  }
}

/* 
  collapsible
 */
.Collapsible {
  font-size: 14px;
  text-decoration: none;
  line-height: normal;
}

.Collapsible__contentOuter {
  background-color: rgb(255, 255, 255);
  border-radius: 0px 0px 3px 3px;
}

.Collapsible__contentInner {
  border-top: 0;
}

.Collapsible__contentInner p {
  position: relative;
  padding: 10px 24px;
  border: 1px solid #dbdbdb;
}

@media (max-width: 30em) {
  .Collapsible__contentInner p {
    padding: 10px 16px;
  }
}

.Collapsible:last-child .Collapsible__contentInner a:first-child p {
  border-top: none;
}

.Collapsible:last-child .Collapsible__contentInner a:last-child p {
  border-bottom: 1px solid #dbdbdb;
  border-radius: 3px 3px 3px 3px;
}

.Collapsible__trigger {
  display: block;
  position: relative;
  padding: 10px 24px;
  border: 1px solid #dbdbdb;
  border-bottom: none;
  background-color: #f7f7f7;
  text-align: left;
}

@media (max-width: 30em) {
  .Collapsible__trigger {
    padding: 10px 30px 10px 16px;
  }
}

@media (max-width: 23.375em) {
  .Collapsible__trigger {
    font-size: 13px;
  }
}

.Collapsible:nth-child(2) .Collapsible__trigger {
  border-radius: 3px 3px 3px 3px;
}

.Collapsible:last-child .Collapsible__trigger {
  border-bottom: 1px solid #dbdbdb;
  border-radius: 3px 3px 3px 3px;
}

.Collapsible:last-child .Collapsible__trigger.is-open {
  border-radius: 3px 3px 0px 0px;
}

.Collapsible__trigger:after {
  content: '';
  display: block;
  position: absolute;
  top: 14px;
  right: 20px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #2e2929;
  border-right: 2px solid #2e2929;
  transform: rotate(135deg);
  transition: 0.3s;
}

@media (max-width: 30em) {
  .Collapsible__trigger:after {
    right: 16px;
  }
}

.Collapsible__trigger.is-open::after {
  top: 16.5px;
  transform: rotate(315deg);
  transition: 0.3s;
}

/* Custom Collapsible Search Condition */
.item-condition-search:last-child {
  border-bottom: 1px solid #dbdbdb;
}

.item-condition-search .Collapsible .Collapsible__trigger {
  border-left: unset;
  border-right: unset;
  background-color: #fff !important;
  padding: 13px 16px;
}

.item-condition-search .Collapsible:last-child .Collapsible__trigger {
  border-bottom: unset;
  border-radius: unset !important;
}

.item-condition-search .Collapsible:last-child .Collapsible__trigger::after {
  top: 15px;
  right: 20px;
  width: 25px;
  height: 25px;
  border: unset;
  background-image: url('../images/icon-arrow-circle.png');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(0deg);
}

.item-condition-search .Collapsible:last-child .Collapsible__trigger.is-open::after {
  transform: rotate(180deg);
}

/* 
  Header Menu
 */
.popup-content {
  width: 320px !important;
  padding: 0px !important;
  border: none !important;
  border-radius: 6px;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1) !important;
}

.popup-arrow {
  left: 90% !important;
  border: none !important;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1) !important;
}

/* 
  Checkbox Custom (semantic-ui)
 */
.ui.checkbox input[type='checkbox'],
.ui.checkbox label:before,
.ui.checkbox label:after {
  width: 24px !important;
  height: 24px !important;
}
.ui.checkbox {
  width: 100%;
  box-sizing: border-box;
}
.ui.checkbox label {
  line-height: 24px;
  padding-left: 2.1em;
}
.ui.checkbox label:before {
  border-radius: unset;
  border: 1px solid #d8d8d8;
}
.ui.checkbox label:after {
  font-size: 18px;
  line-height: 24px;
  color: #fff !important;
  background: #e85258 !important;
}
.ui.checkbox input:checked ~ label:after {
  content: '';
  background-image: url('../images/icon-check.svg') !important;
  background-size: 76% !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
}
.ui.checkbox.list-citytown {
  padding: 15px 16px 15px 38px;
}

/*
Modal Search Condition More
 */
.ui.dimmer {
  z-index: 2500 !important;
  padding: 0 !important;
}

.semantic-ui-modal-custom {
  width: 100vw !important;
  height: 100vh !important;
  margin: 0 !important;
  border-radius: unset !important;
}

.semantic-ui-modal-custom.serch-condition .scrolling.content {
  height: 100vh !important;
  max-height: 100vh !important;
  padding: 0 !important;
  overflow: unset !important;
  overflow-y: scroll !important;
}

.semantic-ui-modal-custom.pc .scrolling.content {
  min-width: 768px !important;
}

.semantic-ui-modal-custom.request .scrolling.content {
  max-height: 100vh !important;
  padding: 0 !important;
}

/*
React Slick
 */
.slick-slider {
  width: 100%;
}

/* custom-arrow-1 */
.custom-arrow-1 .slick-prev,
.custom-arrow-1 .slick-next {
  top: calc(50% - 45px) !important;
  width: 60px !important;
  height: 60px !important;
  z-index: 100 !important;
}

.custom-arrow-1 .slick-prev:before,
.custom-arrow-1 .slick-next:before {
  content: '' !important;
  position: absolute;
  top: calc(50% - 30px);
  left: calc(-50% + 30px);
  width: 60px;
  height: 60px;
  background-image: url('../images/icon-arrow-circle-big.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-arrow-1 .slick-next:before {
  transform: rotate(180deg);
}

/* custom-arrow-2 */
.custom-arrow-2 .slick-list {
  overflow: visible !important;
}

.custom-arrow-2 .slick-prev,
.custom-arrow-2 .slick-next {
  top: 50% !important;
  left: 12px;
  width: 30px !important;
  height: 30px !important;
  z-index: 100 !important;
}

.custom-arrow-2 .slick-next {
  left: auto;
  right: 12px;
}

.custom-arrow-2 .slick-prev:before,
.custom-arrow-2 .slick-next:before {
  content: '' !important;
  position: absolute;
  top: calc(50% - 15px);
  left: calc(-50% + 15px);
  width: 30px;
  height: 30px;
  background-image: url('../images/icon-arrow-circle-big.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.custom-arrow-2 .slick-next:before {
  transform: rotate(180deg);
}

.custom-arrow-2 .slick-dots {
  bottom: 14px !important;
}

.custom-arrow-2 .slick-dots li {
  margin: 0 !important;
}

.custom-arrow-2 .slick-dots li button:before {
  opacity: 1 !important;
  color: rgba(255, 255, 255, 0.5) !important;
  font-size: 14px !important;
}

.custom-arrow-2 .slick-dots li.slick-active button:before {
  color: rgba(255, 255, 255, 1) !important;
}

@media (max-width: 30em) {
  .custom-arrow-2 .slick-dots li button:before {
    font-size: 10px !important;
  }
}
