@import '../../node_modules/react-image-gallery/styles/css/image-gallery.css';

@media (max-width: 30em) {
  body {
    background: none !important;
  }
}

.space_image_gallery_bullet {
  background: #ffffff !important;
}

.space_image_gallery_bullet.active {
  background: #e8be5d !important;
}

.image-gallery-bullets .image-gallery-bullet {
  border: none;
}

.ui.brandPrimary.button {
  background-color: #e85258;
  color: #ffffff;
}

.ui.brandPrimary.button:hover {
  background-color: #f1979b;
}

.ui.white.button {
  background-color: #ffffff;
}
