@import '../../node_modules/react-image-gallery/styles/css/image-gallery.css';

.space_image_gallery_bullet {
  background: #ffffff !important;
}

.space_image_gallery_bullet.active {
  background: #e8be5d !important;
}

.image-gallery-bullets .image-gallery-bullet {
  border: none;
}
